/*body {*/
/*    font-family: Anton, Abel;*/
/*}*/
header.container {
    display: inline-block;
}

div.logo {
    height: 50px;
    max-width: 10%;
}

img.logo {
    max-width: 50px;
}

.ra-logo {
    max-width: 100%;
}

div.codeup-design {
    gap: 30px;
}

span.codeup {
    /*margin: 100px;*/
    margin: unset;
    max-width: 100%;
    display: inline-block;
}